@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.single-user-div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;;
        align-content:flex-start;
        padding: 2rem;
        gap: 2rem;
        height: 80vh;
        width:100vw;
        align-content: center;
        font-family: 'Outfit';
        font-optical-sizing: auto !important;
        font-weight: 100 !important;
        font-style: normal !important;
        color:white !important;
        margin:5rem;
        
      }


.button{
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    color: var(--text-primary);
    background-color: var(--brand);
    border: none;
    margin: 0.4rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    height: 2rem;
    width: 2rem;
    background-image: url(./heart.png);
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
  
}

#test{

    background-color: blue;
  font-size: 32px;;
  cursor: pointer;
}

.childContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: lightgray;
    padding: 1rem;
    min-height: 300px;
    width: 100%;
  }

  .sidebar {
    flex: 0 0 300px;
  }

  .username-div h1{
    color: rgb(241, 203, 9);
    font-size: 60px;
  }

  .username-div{
    width: 20vw;
  }

  .background{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:space-between;
    align-content:space-between;
    width: 100vw;
  }

  .childcard-div{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    align-content:space-between;
    width: 100vw;

  }