* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-background {
  background-image: url('/assets/hero-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.all-pages-background {
  background: linear-gradient(#8f008a,#000000);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}